name: Create release
run-name: Release resource pack
on: 
  workflow_dispatch:
    inputs:
      archive-name:
        type: string
        required: true
        description: "The name of the source archive"
      release-name:
        type: string
        required: true
      release-body:
        type: string
        required: true
      release-tag:
        type: string
        required: true


jobs:
  compile:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
    
      - name: Zip files
        run: |
          git archive --format=zip HEAD -o ${{ inputs.archive-name }}
          ls -lh ${{ inputs.archive-name }}
          
      - name: Upload Articact
        uses: actions/upload-artifact@v2
        with:
          name: release
          path: ${{ inputs.archive-name }}
      - name: Create Release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          artifacts: ${{ inputs.archive-name }}
          name: ${{ inputs.release-name }}
          body: ${{ inputs.release-body }}
          tag: ${{ inputs.release-tag }}
          
          
          
